<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background_menu" *ngIf="pubReady" >
  <ion-card *ngIf="pubdata.pub.pubname">
    <img class="pubimage" src="{{pubdata.pub.photo}}"
            onError="this.src='assets/imgs/beerslide3.jpg';"/>
    <ion-card-content>
      <h2 class="card-title">{{pubdata.pub.pubname}}</h2>
      <p>{{pubdata.pub.location.street}}, {{pubdata.pub.location.city}} {{pubdata.pub.location.uf}}</p>
    </ion-card-content>
    <ion-list>
      <button ion-item (click)="openMenu()">
        <ion-icon item-left name="beer" color="primary"></ion-icon>
        <h3>Carta de Cervejas</h3>
        <ion-note item-right iont-text color="primary">
          <ion-badge item-end>{{pubdata.pub.beers.length}}</ion-badge>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-note>
      </button>
      <ion-item>
        <ion-icon item-left name="mail" color="primary"></ion-icon>
        <h3>E-mail</h3>
        <ion-note item-right iont-text color="dark">{{pubdata.pub.email}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="call" color="primary"></ion-icon>
        <h3>Fone</h3>
        <ion-note item-right iont-text color="dark">{{pubdata.pub.phone}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="phone-portrait" color="primary"></ion-icon>
        <h3>Celular</h3>
        <ion-note item-right iont-text color="dark">{{pubdata.pub.celphone}}</ion-note>
      </ion-item>
      <button ion-item (click)="openComments()">
        <ion-icon item-left name="clipboard" color="primary"></ion-icon>
        <h3>Mural de Comentários</h3>
        <ion-note item-right iont-text color="primary">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-note>
      </button>
    </ion-list>
    
    <ion-item>
      <button ion-button icon-left clear item-left (click)="goEdit()">
        <ion-icon name="construct" color="secondary"></ion-icon>
        <span ion-text color="secondary">Editar</span>
      </button>
    </ion-item>
    
  </ion-card>
</ion-content>
