<ion-menu [content]="content">
  <ion-header>
      <ion-toolbar>
        <ion-title>Bem-Vindo</ion-title>
      </ion-toolbar>
    </ion-header>
  <ion-content class="background_menu">

      <img src="assets/imgs/beer_logo.jpg" class="menu-logo"/>

    <ion-list>
      <ion-list-header class="background_menu">
        HasBeer - Menu
      </ion-list-header>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="background_menu">
          <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <!-- <ion-list>
      <ion-list-header class="background_menu">
        Sobre
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of helpMenuItems" (click)="openPage(menuItem)"
      class="background_menu">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list> -->

    <ion-list>
      <ion-list-header class="background_menu">
        Conta
      </ion-list-header>
      <div *ngIf="!isLoggedIn" >
          <button menuClose ion-item *ngFor="let menuItem of accountMenuItems" 
                  (click)="openPage(menuItem)" class="background_menu">
              <ion-icon item-left [name]="menuItem.icon"></ion-icon>
              {{menuItem.title}}
          </button>
      </div>
      <div *ngIf="isLoggedIn" >
          <button menuClose ion-item  (click)="logout()" class="background_menu">
              <ion-icon item-left name="log-out"></ion-icon>
              Logout
          </button>
      </div>
      
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
